/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --heading-text: #DB00FF;
  --accent-color: #FF0070;
  --border-color: #FF0070;
  --border-bottom: #FF0070;
  --text-color: #F1B2CE;
  --bg-color: #000028;
  --subtitle-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --main-text-color: #F1B2CE;
  --opacity-color: rgba(255, 0, 112, 0.4);
  --article-title-color: var(--accent-color);
  --section-title-color: var(--subtitle-color);
  --link-shadow: var(--accent-color);
  --rec-color: var(--accent-color);
  --links-border: var(--text-color);
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --heading-text: #DB00FF;
  --accent-color: #FF0070;
  --border-color: #FF0070;
  --border-bottom: #FF0070;
  --text-color: #F1B2CE;
  --bg-color: #000028;
  --subtitle-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --main-text-color: #F1B2CE;
  --opacity-color: rgba(255, 0, 112, 0.4);
  --article-title-color: var(--accent-color);
  --section-title-color: var(--subtitle-color);
  --link-shadow: var(--accent-color);
  --rec-color: var(--accent-color);
  --links-border: var(--text-color);

  .header__decor {
    display: block;
  }
}
